<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>All blogs</h2>
        <p>Lorep ipsum dolar sic amet</p>
        <p>Lorep ipsum dolar sic amet</p>
        <p>Lorep ipsum dolar sic amet</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>